/* Add styling for your page here */

.App {

}

.BakeryItem {
   
}

img{
     height:70px;  
     margin:10px; 
}

h1{
     text-align: center;
     font-family:monospace;
     font-size:3vw;
}

.item{
     /* display:flex;
     margin:auto; */
     max-width:50%;
     border:5px solid black;
     border-radius: 25px;
     margin:40px;
     text-align: center;
     background-color: #f3ece7;
     font-family:monospace;
}

button{
     margin:10px;
}

.bakeryDiv{
     display: grid;
     grid-template-columns: repeat(3, 1fr);

}

.cart{
     width:30%;
     background-color:#f3ece7;
     margin:auto;
     text-align:center;
     font-family:monospace;
}



